*, 
*::after, 
*::before {
    margin: 0; 
    padding: 0; 
    box-sizing: inherit;
}

html {
    font-size: 62.5%; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

body {
    box-sizing: border-box;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;

}

a {
    text-decoration: none;
}

.App {
    font-size: 1.6rem;
}