.txt-danger {
  color: red;
}

.txt-success {
  color: $COLOR-GREEN;
}

.txt-secondary {
  color: #b2bec3;
}

.btn-danger {
  background: red; 
  color: #eee; 
}

.btn-success {
  background: $COLOR-GREEN; 
  color: #eee; 
}



.color-update {
  color: $COLOR-UPDATE
}

.color-delete {
  color: $COLOR-DELETE
}

.color-pending {
  color: $COLOR-GREY
}

.color-success {
  color: $COLOR-GREEN;
}

.txt-white {
  color: #f1f2f6;
}

.card-background {
  background-color: $COLOR-CARD;
}