.modal-input {
  text-align: center;
  &__title {
  }

  &__actions {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;

    &__btn {
      padding: 1rem 2rem;
      border-radius: 50px;
      border: none;
    }
  }
}
