.noti {
  background-color: #7bed9f !important;
  color: white;
  padding: 1.5rem 0.5rem !important;

  &__img {
    font-size: 6rem;
    color: #ffd32a;
    margin: 0 1.5rem !important;
  }
  &__info {
    padding: 0 1rem;
    &__name {
      font-size: 3rem !important;
    }

    &__status {
      font-size: 1.6rem !important;
    }
  }
}
